<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index" translate="PAGINA_PRINCIPAL"></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="active" ng-controller="langController">
                    <button ng-click="cambiarLenguaje('es')"><img height="20" width="30" src="/public/fotos/spain.png">
                    </button>
                </li>

                <li class="active" ng-controller="langController">
                    <button ng-click="cambiarLenguaje('en')"><img height="20" width="30" src="/public/fotos/uk.png">
                    </button>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div growl></div>
