<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index"><img width="145px" height="17px" src="/public/fotos/logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse">

           <!-- <ul class="nav navbar-nav">
                <li class="active"><a href="index" translate="PAGINA_PRINCIPAL"></a></li>
                <li class="active"><a href="#" translate="SOBRE_NOSOTROS"></a></li>
            </ul>

            -->

            <div style="margin-top: 0.7%; margin-right: 4%" ng-controller="notificacionesYCabeceraController"
                 ng-hide="!usuario" class="nav navbar-nav navbar-right dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown" style="background: none; border: none">
                    {{usuario.username}}<img height="30" width="30"
                                             style="margin-left: 5px; border-radius: 50%; border:solid; border-width: 0.5px"
                                             ng-src="{{usuario.foto}}">
                </button>
                <ul class="dropdown-menu">
                    <li><a translate="PAGINA_PRINCIPAL" href="index"></a></li>
                    <li><a translate="AJUSTES" href="profileSettings"></a></li>
                    <li><a ng-controller="logoutController" translate="CERRAR_SESION"
                           ng-click="logout()" href="index"></a></li>
                </ul>
            </div>


            <ul class="nav navbar-nav navbar-right" style="margin-top: 1%; margin-right: 4%">
                <li class="active" ng-controller="langController">
                    <button ng-click="cambiarLenguaje('es')" style="background: none; border: none"><img height="20"
                                                                                                         width="30"
                                                                                                         src="/public/fotos/spain.png">
                    </button>
                </li>

                <li class="active" ng-controller="langController">
                    <button ng-click="cambiarLenguaje('en')" style="background: none; border: none"><img height="20"
                                                                                                         width="30"
                                                                                                         src="/public/fotos/uk.png">
                    </button>
                </li>

            </ul>


        </div>
    </div>
</nav>

<div growl></div>
