<!DOCTYPE html>
<html ng-app="webApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <% include partials/shared-head %>

    <!-- Hojas de estilos y scripts -->
    <script src="/public/javascripts/navAnimation.js"></script>
    <script src="/lodash/lodash.js"></script>
    <script src="/knockout/knockout.js"></script>
    <script src="/gridstack/gridstack.js"></script>
    <script src="/ng-dropzone/ng-dropzone.min.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/chatroom.css">
    <link rel="stylesheet" href="/ng-dropzone/ng-dropzone.css">

    <!-- Controladores y Managers -->
    <script src='/public/javascripts/managers/AsistentesManager.js'></script>
    <script src='/public/javascripts/managers/VideoChatManager.js'></script>
    <script src='/public/javascripts/managers/PresentacionManager.js'></script>

    <script src='/public/javascripts/controllers/salaController.js'></script>
    <script src='/public/javascripts/controllers/asistentesController.js'></script>
    <script src='/public/javascripts/controllers/modulosController.js'></script>
    <script src='/public/javascripts/controllers/videoChatController.js'></script>
    <script src='/public/javascripts/controllers/presentacionController.js'></script>




</head>
<body>

<nav ng-controller="salaController" class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <h5 id="enlaceHome"><a href="personalPage"><span class="glyphicon glyphicon-menu-left"></span>Home</a></h5>
        <h4 id="nombreSala">{{selectedSala().nombre}}</h4>
    </div>
</nav>


<div ng-controller='modulosController' id="myServiciosnav" class="sideServiciosnav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('myServiciosnav');">&times;</a>
    <h2 id="serviciosLabel">Servicios</h2>
    <a ng-click="addModule('chatVideo')">Chat de video</a>
    <a ng-click="addModule('chatTexto')">Chat de texto</a>
    <a ng-click="addModule('presentaciones')">Presentaciones</a>
    <a>Video y audio compartido</a>
    <a ng-click="addModule('dibujo')">Dibujos</a>
</div>

<div ng-controller='asistentesController' id="myAsistentesnav" class="sideAsistentesnav">
    <a href="javascript:void(0)" class="closebtn"
       onclick="closeNav('myAsistentesnav'); ">&times;</a>
    <h3 id="asistentesLabel"><%= lang.asistentesConectados %></h3>
    <a ng-repeat="asistente in asistentes" onclick="informacion()">{{asistente.username}}</a>
    <a ng-show="!(asistentes.length)">No hay usuarios conectados</a>

</div>

<!-- Mostrar información de usuario seleccionado en panel de asistentes conectados
<div id="Contactonav" class="sideContactonav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('Contactonav'); resetNavContacto();">&times;</a>
    <h2 id="ContactoLabel">Información David</h2>
    <p>Username: david1</p>
    <p>nombre: David</p>
    <p>apellido: Villa</p>
    <p>email: david@gmail.com</p>
</div>
-->


<div id="navegacion">
    <span class="opcion-navegacion glyphicon glyphicon-chevron-left" id="esconder-navegacion" onclick="closeNavPrincipal(); "></span>
    <span class="opcion-navegacion" onclick="openNav('myServiciosnav'); closeNav('myAsistentesnav'); ">&#9776; <%= lang.servicios %></span>
    <span class="opcion-navegacion" onclick="openNav('myAsistentesnav'); closeNav('myServiciosnav');">&#9776; <%= lang.asistentes %></span>
</div>


<!-- MÓDULOS -->

<div id="contenedorGridStack">
    <div class="grid-stack"></div>
</div>

</body>

</html>