<!DOCTYPE html>
<html ng-app="webApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <% include partials/shared-head %>

    <!-- Hojas de estilos y scripts -->
    <script src="/public/javascripts/navAnimation.js"></script>
    <script src="/lodash/lodash.js"></script>
    <script src="/knockout/knockout.js"></script>
    <script src="/gridstack/gridstack.js"></script>

    <link rel="stylesheet" href="/public/stylesheets/chatroom.css">

    <!-- Controladores y Managers -->
    <script src='/public/javascripts/managers/AsistentesManager.js'></script>
    <script src='/public/javascripts/managers/VideoChatManager.js'></script>
    <script src='/public/javascripts/managers/PresentacionManager.js'></script>
    <script src='/public/javascripts/managers/ChatTextoManager.js'></script>

    <script src='/public/javascripts/controllers/accesoSalaController.js'></script>
    <script src='/public/javascripts/controllers/asistentesController.js'></script>
    <script src='/public/javascripts/controllers/modulosController.js'></script>
    <script src='/public/javascripts/controllers/videoChatController.js'></script>
    <script src='/public/javascripts/controllers/presentacionController.js'></script>
    <script src='/public/javascripts/controllers/chatTextoController.js'></script>
    <script src='/public/javascripts/controllers/langController.js'></script>
</head>
<body>

<div growl></div>

<nav ng-controller="accesoSalaController" class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <h5 id="enlaceHome"><a href="personalPage"><span class="glyphicon glyphicon-menu-left"></span>Home</a></h5>
        <img ng-src="{{selectedSala.foto}}" class="foto-sala"/>
        <span id="nombreSala">{{selectedSala.nombre}}</span>
    </div>
</nav>


<div ng-controller='modulosController' id="myServiciosnav" class="sideServiciosnav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('myServiciosnav');">&times;</a>
    <h2 id="serviciosLabel">{{'SERVICIOS' | translate}}</h2>
    <a class="servicio" ng-click="addModule('chatVideo')">{{'CHAT_VIDEO' | translate}}</a>
    <a class="servicio" ng-click="addModule('chatTexto')">{{'CHAT_TEXTO' | translate}}</a>
    <a class="servicio" ng-click="addModule('presentaciones')">{{'PRESENTACIONES' | translate}}</a>
    <a class="servicio" >{{'VIDEO_AUDIO_COMPARTIDO' | translate}}</a>
    <a class="servicio" ng-click="addModule('dibujo')">{{'DIBUJOS' | translate}}</a>
</div>

<div ng-controller='asistentesController' id="myAsistentesnav" class="sideAsistentesnav">
    <a href="javascript:void(0)" class="closebtn"
       onclick="closeNav('myAsistentesnav'); ">&times;</a>
    <h3 id="asistentesLabel">{{'PARTICIPANTES' | translate}}</h3>
    <a ng-repeat="asistente in asistentes" onclick="informacion()">{{asistente.username}} <span class="conectado">•</span></a>
</div>

<!-- Mostrar información de usuario seleccionado en panel de asistentes conectados
<div id="Contactonav" class="sideContactonav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('Contactonav'); resetNavContacto();">&times;</a>
    <h2 id="ContactoLabel">Información David</h2>
    <p>Username: david1</p>
    <p>nombre: David</p>
    <p>apellido: Villa</p>
    <p>email: david@gmail.com</p>
</div>
-->
<div id="div-hide-navegacion">
<span class="glyphicon glyphicon-chevron-left" id="esconder-navegacion" onclick="closeNavPrincipal(); "></span>
</div>
<div id="navegacion">
    <span class="opcion-navegacion" onclick="openNav('myServiciosnav'); closeNav('myAsistentesnav'); ">&#9776;{{'SERVICIOS' | translate}}</span>
    <span class="opcion-navegacion" onclick="openNav('myAsistentesnav'); closeNav('myServiciosnav');">&#9776;{{'PARTICIPANTES' | translate}}</span>
</div>


<!-- MÓDULOS -->

<div id="contenedorGridStack">
    <div class="grid-stack"></div>
</div>

</body>

</html>