<!DOCTYPE html>
<html ng-app="webApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <!-- Hojas de estilos y scripts -->
    <link rel="stylesheet" href="/gridstack/gridstack.css"/>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/chatroom.css">

    <script language="JavaScript" type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script language="JavaScript" type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="../node_modules/angular-cookies/angular-cookies.js"></script>
    <script src='/public/module.js'></script>
    <script src="/public/javascripts/navAnimation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
    <script src="/gridstack/gridstack.js"></script>

    <!-- Controladores -->
    <script src='/public/javascripts/controllers/salaController.js'></script>

    <style type="text/css">
        .grid-stack {
            background: lightgoldenrodyellow;
        }

        .grid-stack-item-content {
            color: #2c3e50;
            text-align: center;
            background-color: #18bc9c;
        }
    </style>

</head>
<body ng-controller="salaController">

<div id="myServiciosnav" class="sideServiciosnav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('myServiciosnav');">&times;</a>
    <h2 id="serviciosLabel">Servicios</h2>
    <a href="#">Chat de video</a>
    <a href="#">Presentaciones</a>
    <a href="#">Video y audio compartido</a>
    <a href="#">Dibujos corporativos</a>
</div>

<div id="myAsistentesnav" class="sideAsistentesnav">
    <a href="javascript:void(0)" class="closebtn"
       onclick="closeNav('myAsistentesnav');closeNav('Contactonav');resetMain();">&times;</a>
    <h2 id="asistentesLabel">Asistentes</h2>
    <a href="#" onclick="informacion()">David</a>
    <a href="#">Cristian</a>
    <a href="#">Carlos</a>
</div>

<div id="Contactonav" class="sideContactonav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('Contactonav'); resetNavContacto();">&times;</a>
    <h2 id="ContactoLabel">Información David</h2>
    <p>Username: david1</p>
    <p>nombre: David</p>
    <p>apellido: Villa</p>
    <p>email: david@gmail.com</p>
</div>


<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <h4>{{selectedSala().nombre}}</h4>
        </div>
    </div>
</nav>


<div id="navegacion">
    <span style="font-size:18px;cursor:pointer"
          onclick="openNav('myServiciosnav'); closeNav('myAsistentesnav'); closeNav('Contactonav');">&#9776; Servicios</span>
    <p/>
    <span style="font-size:18px;cursor:pointer" onclick="openNav('myAsistentesnav'); closeNav('myServiciosnav');">&#9776; Asistentes</span>
</div>

<!-- MÓDULOS -->

<!--<div id="grid-stack">

    <div id="servicio1" class="grid-stack-item panel panel-default" data-gs-current-height="6">
        <div class="panel-heading">
            <div>
                Videoconferencia </div> <div>[] <-></div>

        </div>

        <div>

                <div>

                    Aqui va la funcionalidad del módulo

                </div>


        </div>


    </div>

</div>-->

<div style="float: left; width: 80%;" class="container-fluid">
    <div>
        <button data-bind="click: addNewWidget">Add new widget</button>
    </div>

    <br>

    <div data-bind="component: {name: 'dashboard-grid', params: $data}"></div>
</div>


<script type="text/javascript">
    ko.components.register('dashboard-grid', {
        viewModel: {
            createViewModel: function (controller, componentInfo) {
                var ViewModel = function (controller, componentInfo) {
                    var grid = null;

                    this.widgets = controller.widgets;

                    this.afterAddWidget = function (items) {
                        if (grid == null) {
                            grid = $(componentInfo.element).find('.grid-stack').gridstack({
                                auto: false
                            }).data('gridstack');
                        }

                        var item = _.find(items, function (i) { return i.nodeType == 1 });
                        grid.addWidget(item);
                        ko.utils.domNodeDisposal.addDisposeCallback(item, function () {
                            grid.removeWidget(item);
                        });
                    };
                };

                return new ViewModel(controller, componentInfo);
            }
        },
        template:
            [
                '<div class="grid-stack" data-bind="foreach: {data: widgets, afterRender: afterAddWidget}">',
                '   <div class="grid-stack-item" data-bind="attr: {\'data-gs-x\': $data.x, \'data-gs-y\': $data.y, \'data-gs-width\': $data.width, \'data-gs-height\': $data.height, \'data-gs-auto-position\': $data.auto_position}">',
                '       <div class="grid-stack-item-content"><button data-bind="click: $root.deleteWidget">Delete me</button></div>',
                '   </div>',
                '</div> '
            ].join('')
    });

    $(function () {
        var Controller = function (widgets) {
            var self = this;

            this.widgets = ko.observableArray(widgets);

            this.addNewWidget = function () {
                this.widgets.push({
                    x: 0,
                    y: 0,
                    width: 6,
                    height: 7,
                    auto_position: true
                });
                return false;
            };

            this.deleteWidget = function (item) {
                self.widgets.remove(item);
                return false;
            };
        };

        var widgets = [
            {x: 7, y: 0, width: 6, height: 6},
            {x: 0, y: 0, width: 6, height: 6},
            {x: 7, y: 0, width: 6, height: 6},
            {x: 0, y: 0, width: 6, height: 6}
        ];

        var controller = new Controller(widgets);
        ko.applyBindings(controller);
    });
</script>


</body>

</html>