<!DOCTYPE html>
<html ng-app="webApp">
<head>

    <title>Web App Videoconferencia</title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <% include partials/shared-head %>

    <!-- Hojas de estilos y scripts -->
    <link rel="stylesheet" href="/public/stylesheets/index.css">
    <script src="/public/javascripts/interfaceAnimation.js"></script>

    <!-- Controllers -->
    <script src='/public/javascripts/controllers/loginController.js'></script>
    <script src='/public/javascripts/controllers/registerController.js'></script>
    <script src='/public/javascripts/controllers/langController.js'></script>

    <!--Directivas-->
    <script src='/public/javascripts/directives/usernameValidation.js'></script>
    <script src='/public/javascripts/directives/passwordValidation.js'></script>

</head>

<body>

<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="active" id="login-form-link" translate="LOGIN"></a>
                        </div>
                        <div class="col-xs-6">
                            <a id="register-form-link" translate="REGISTRO"> </a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div ng-controller='loginController'>
                            <form ng-submit="login()" id="login-form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" ng-model="credenciales.username" name="username-login" required id="username-login" tabindex="1"
                                           class="form-control" placeholder="{{'USERNAME' | translate}}">
                                </div>
                                <div class="form-group">
                                    <input type="password" ng-model="credenciales.password" name="password-login" required id="password-login" tabindex="2"
                                           class="form-control" placeholder="{{'PASS' | translate}}">
                                </div>

                                <!-- Error al iniciar sesión -->
                                <div class="alert alert-danger" ng-if="loginError" translate="LOGIN_ERROR">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                   class="btn btn-primary btn-block" value="{{'INICIAR_SESION' | translate}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a tabindex="5" class="forgot-password" translate="OLVIDO"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                            <div ng-controller='registerController'>
                                <form id="register-form" name="registerForm" ng-submit="registrar(usuario)"
                                      style="display: none;">

                                    <div class="form-group">
                                        <input type="text" ng-model='usuario.nombre' id="nombre" required minlength="3"
                                               maxlength="15" tabindex="1" class="form-control"
                                               placeholder="{{'NOMBRE' | translate}} *">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" ng-model='usuario.apellidos' id="apellidos"
                                               minlength="3"
                                               maxlength="35" tabindex="1" class="form-control"
                                               placeholder="{{'APELLIDOS' | translate}}" value="">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" username-validation required ng-model='usuario.username'
                                               id="username" ng-keypress="comprobarCaracter($event)"
                                               minlength="3" maxlength="15" tabindex="1"
                                               ng-class="{error:messages.showError}"
                                               class="form-control" placeholder="{{'USERNAME' | translate}} *">

                                        <div ng-if="registerForm.$pending.usernameAvailable" translate="COMPROBAR_USERNAME"></div>
                                        <div ng-if="registerForm.$error.usernameNoSpaces" translate="USERNAME_NO_ESPACIOS"></div>
                                        <div ng-if="registerForm.$error.usernameAvailable" translate="USERNAME_NOT_AVAILABLE"></div>

                                    </div>

                                    <div class="form-group">
                                        <input type="email" ng-model='usuario.email' id="email" required tabindex="1"
                                               class="form-control" placeholder="{{'EMAIL' | translate}} *" value="">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" id="password" name="password"  ng-model='usuario.password'
                                               minlength="8" required
                                               class="form-control" tabindex="1"
                                               placeholder="{{'PASS' | translate}} *">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword"
                                               password-validation="password" required
                                               class="form-control" tabindex="1" placeholder="{{'PASS_CONF' | translate}} *">
                                    </div>

                                    <div>{{'SELECCIONA_FOTO_PERFIL' | translate}}:<input type="file" id="foto"></div>
                                    <div ng-show="fotoPerfil">
                                        <div class="cropArea">
                                        <img-crop image="fotoPerfil" result-image="fotoRecortada"></img-crop>
                                        </div>
                                    </div>

                                    <!-- Diferentes contraseñas -->
                                    <div class="alert alert-warning" ng-show='registerForm.confirmPassword.$error.samepass' translate="DIFF_PASS">
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button class="form-control btn-success" type="submit" id="register-submit" translate="REGISTRARSE"></button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</body>
</html>