<!DOCTYPE html>
<html ng-app="copernicus">

<head>
    <link rel="stylesheet" href="/public/stylesheets/legal.css">
    <% include partials/shared-head %>

    <!-- Controllers -->
    <script src='/public/javascripts/controllers/langController.js'></script>

</head>

<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index"><img width="145px" height="17px" src="/public/fotos/logo.png" alt="Logo"></a>
        </div>
        <div id="navbar" class="navbar-collapse">

            <ul class="nav navbar-nav">
                <li class="active"><a href="index" translate="PAGINA_PRINCIPAL"></a></li>
                <li class="active"><a href="about" translate="SOBRE_NOSOTROS"></a></li>
                <li class="active"><a href="legal" translate="LEGAL"></a></li>

            </ul>


            <ul class="nav navbar-nav navbar-right" style="margin-top: 1%; margin-right: 4%">
                <li class="active" ng-controller="langController">
                    <button ng-click="cambiarIdioma('es')" style="background: none; border: none">
                        <img height="20" width="30" src="/public/fotos/spain.png" alt="Foto bandera España">
                    </button>
                </li>

                <li class="active" ng-controller="langController">
                    <button ng-click="cambiarIdioma('en')" style="background: none; border: none">
                        <img height="20" width="30" src="/public/fotos/uk.png" alt="Foto bandera Reino Unido">
                    </button>
                </li>

            </ul>


        </div>
    </div>
</nav>


<div>

    <div id="proteccion">
    <h4 translate="PROTECCION_DATOS"></h4>

    <p translate="PROTECCION_DATOS_2"></p>

    <p translate="PROTECCION_DATOS_3"></p>

    <p translate="PROTECCION_DATOS_4"></p>

    <p translate="PROTECCION_DATOS_5"></p>

    <p translate="PROTECCION_DATOS_6"></p>

    </div>


</div>


</body>

</html>





