<!DOCTYPE html>
<html lang="es" ng-app="copernicus">
<head>
    <title>Copernicus - {{"PAGINA_PRINCIPAL" | translate}}</title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <!-- Scripts y hojas de estilos compartidos -->
    <% include partials/shared-head %>

    <!-- Hojas de estilos y scripts -->
    <link rel="stylesheet" href="/public/stylesheets/mainPage.css">

    <script src='/public/javascripts/directives/tooltip.js'></script>
    <script src='/public/javascripts/controllers/contactosController.js'></script>
    <script src='/public/javascripts/controllers/salaController.js'></script>
    <script src='/public/javascripts/controllers/addContactoController.js'></script>
    <script src='/public/javascripts/controllers/solicitudesContactoController.js'></script>
    <script src='/public/javascripts/controllers/bloquearContactoController.js'></script>
    <script src='/public/javascripts/controllers/langController.js'></script>

</head>
<body>

<!-- Cabecera -->
<% include partials/header %>

<div class="container" ng-controller="notificacionesYCabeceraController">

    <!-- Menu lateral -->
    <div class="menu-lateral well">
        <ul class="nav nav-list">
            <li class="nav-header" translate="CONTACTOS"></li>
            <li>
                <a data-target="#addUsuario" data-toggle="modal">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span
                            translate="ADD_CONTACTO"></span>
                </a>
            </li>
            <li>
                <a data-target="#solicitudes-contacto" data-toggle="modal">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <span
                            translate="SOLICITUDES_CONTACTO"></span>
                    <span ng-hide="solicitudes.length < 1" class="badge badge-info">{{solicitudes.length}}</span>
                </a>
            </li>
            <li>
                <a data-target="#bloquearUsuario" data-toggle="modal">
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true">
                    </span> <span translate="BLOQUEAR_CONTACTO"></span>
                </a>
            </li>
            <li class="nav-header" translate="SALAS"></li>
            <li>
                <a data-target="#createRoom" data-toggle="modal">
                    <span class="glyphicon glyphicon-blackboard" aria-hidden="true">
                    </span> <span translate="CREAR_SALA"></span>
                </a>
            </li>
            <li>
                <a href="manageRooms">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span
                            translate="GESTIONAR_SALA"></span>
                </a>
            </li>
            <li>
                <a data-target="#solicitudes-salas" data-toggle="modal">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span> <span
                            translate="SOLICITUDES_SALAS"></span>
                    <span ng-hide="solicitudesSala.length < 1"
                          class="badge badge-info">{{solicitudesSala.length}}</span>
                </a>
            </li>
            <li class="nav-header" translate="AJUSTES"></li>
            <li>
                <a href="profileSettings">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <span
                            translate="AJUSTES_CUENTA"></span>
                </a>
            </li>
            <li class="nav-header">
                <a ng-controller="logoutController" ng-click="logout()" href="index">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <span
                            translate="CERRAR_SESION"></span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Fin Menu lateral -->

    <!-- Listado contactos -->
    <div id="contenedor-listado-contactos" ng-controller="contactosController">
        <div class="panel-heading" style="margin-bottom:25px;"><label class="label-filtrar"> <span
                        translate="CONTACTOS"/>
            </label><input id="input-filtrar-contactos"
                           placeholder="{{'FILTRAR_CONTACTOS' | translate}}" ng-model="textoFiltrar" ng-keyup="filtrar()"/></div>
        <div id="contenedor2-listado-contactos">
            <div id="listado-contactos">
                <button ng-repeat="contacto in contactos" class="list-group-item boton-listado"
                        data-target="#datosContacto" data-toggle="modal" ng-click="mostrarContacto(contacto.username)">
                    <img ng-src="{{contacto.foto}}" class="foto-perfil">
                    {{contacto.username}}
                </button>
            </div>
        </div>

        <!-- Dialog para mostrar los datos del contacto -->
        <% include partials/dialogs/datosContacto.ejs %>

    </div>
    <!-- Fin listado contactos -->

    <!-- Listado salas -->
    <div ng-controller="salaController" id="contenedor-listado-salas" class="btn-group-vertical">
        <div class="panel-heading" style="margin-bottom:25px;"><label class="label-filtrar">
                {{'ACCESO_SALAS' | translate}}:</label><input id="input-filtrar-salas"
                                                              ng-keyup="filtrar()"
                                                              placeholder="{{'FILTRAR_SALAS' | translate}}"/></div>
        <div id="contenedor2-listado-salas">
            <div id="listado-salas">
                <button ng-repeat="sala in salas" ng-click="accederSala(sala.idSala)"
                        class="list-group-item boton-listado" tooltip data-original-title="{{sala.descripcion}}">
                    <img ng-src="{{sala.foto}}" class="foto-perfil">
                    {{sala.nombre}}
                </button>
            </div>
        </div>
    </div>

    <!-- Fin listado salas -->

    <!-- Dialogs -->
    <% include partials/dialogs/addContacto.ejs %>
    <% include partials/dialogs/crearSala.ejs %>
    <% include partials/dialogs/bloquearContacto.ejs %>
    <% include partials/dialogs/solicitudesContacto.ejs %>
    <% include partials/dialogs/solicitudesSala.ejs %>

</div>
</body>
</html>