<!DOCTYPE html>
<html ng-app="webApp">
<head>
    <title>{{'GESTIONAR_SALAS' | translate}}</title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <!-- Scripts y hojas de estilos compartidos -->
    <% include partials/shared-head %>

    <!-- Hojas de estilos y scripts -->
    <link rel="stylesheet" href="/public/stylesheets/manageRooms.css">

    <!-- Controladores-->
    <script src='/public/javascripts/controllers/gestionarSalasController.js'></script>
    <script src='/public/javascripts/controllers/langController.js'></script>

</head>
<body ng-controller="gestionarSalasController">

<!-- Cabecera -->
<% include partials/header %>

<div id="salas">
    <label>{{'SALAS_ADMIN' | translate}}:</label>
    <div id="salas-admin" class="menu-lateral well">
        <button ng-repeat="sala in salasAdmin" class="list-group-item sala"
                ng-click="mostrarInfoSala(sala.idSala, true)">
            {{sala.nombre}}
        </button>
    </div>
    <label>{{'SALAS_MODERADOR' | translate}}:</label>
    <div id="salas-moderador" class="menu-lateral well">
        <button ng-repeat="sala in salasModerador" class="list-group-item sala"
                ng-click="mostrarInfoSala(sala.idSala, false)">
            {{sala.nombre}}
        </button>
    </div>
</div>

<div id="editor-sala">
    <div id="textoSalaNoSeleccionada" text-align="center" ng-show="salaSeleccionada == undefined">
        {{'SELECCIONAR_SALA' | translate}}
    </div>

    <div id="informacion-sala" ng-show="salaSeleccionada != undefined">
        <div id="datos-basicos">
            <legend id="leyenda-info-sala">{{'INFO_SALA' | translate}}</legend>

            <div id="nombre-sala">
                <label id="label-nombre">{{'NOMBRE' | translate}}:</label>
                <input ng-model="salaSeleccionada.nombre"/>
            </div>

            <div id="descripcion-sala">
                <label id="label-descripcion">{{'DESCRIPCION' | translate}}:</label>
                <textarea id="textarea-descripcion" ng-model="salaSeleccionada.descripcion"></textarea>
            </div>

            <button id="btn-actualizar-datos-sala" class="btn btn-primary" type="button"
                    ng-click="actualizarSala()">{{'ACTUALIZAR_DATOS' | translate}}
            </button>

        </div>

        <legend id="leyenda-info-sala">{{'USUARIOS_SALA' | translate}}</legend>

        <div id="participantes">
            <div>
                <div>
                    <angucomplete id="username-participante-sala"
                                  placeholder="{{'USERNAME' | translate}}"
                                  pause="100"
                                  selectedobject="usuarioSeleccionado"
                                  localdata="contactos"
                                  titlefield="username"
                                  searchfields="username"
                                  imagefield="foto"
                                  minlength="2"
                                  inputclass="form-control"
                    />
                </div>
                <button class="btn btn-primary" type="button" id="btn-add-participante"
                        ng-click="addCandidato()">{{'ADD_USUARIO' | translate}}
                </button>
            </div>

            <div id="show-usuarios">

                <h5 ng-show="candidatos.length > 0" translate="INVITACIONES_ENVIADAS"></h5>

                <table ng-show="candidatos.length > 0" class="table table-bordered">
                    <tr>
                        <th>{{'USERNAME' | translate}}</th>
                        <th>{{'NOMBRE' | translate}}</th>
                        <th>{{'APELLIDOS' | translate}}</th>
                        <th>{{'PERMISOS' | translate}}</th>
                        <th>{{'ESTADO' | translate}}</th>
                        <th>{{'ACCIONES' | translate}}</th>
                    </tr>
                    <tr ng-repeat="candidato in candidatos" id="datos-'{{participante.username}}'">
                        <td>{{candidato.user.username}}</td>
                        <td>{{candidato.user.nombre}}</td>
                        <td>{{candidato.user.apellidos}}</td>
                        <td>
                            <select class="form-control" ng-model="candidato.rel.properties.permisos"
                                    ng-change="cambiarPermisosCandidato(candidato)">
                                <option value="Miembro">{{'MIEMBRO' | translate}}</option>
                                <option value="Moderador">{{'MODERADOR' | translate}}</option>
                            </select>
                        </td>
                        <td translate="INVITACION_NO_ACEPTADA">Todavía no ha aceptado la invitación</td>
                        <td>
                            <button class="btn btn-primary" type="button" ng-click="cancelarInvitacion(candidato.user)">
                                Cancelar invitación
                            </button>
                        </td>
                    </tr>
                </table>


                <h5 ng-show="participantes" translate="PARTICIPANTES"></h5>


                <table ng-show="participantes" class="table table-bordered">
                    <tr>
                        <th>{{'USERNAME' | translate}}</th>
                        <th>{{'NOMBRE' | translate}}</th>
                        <th>{{'APELLIDOS' | translate}}</th>
                        <th>{{'PERMISOS' | translate}}</th>
                        <th>{{'ACCIONES' | translate}}</th>
                    </tr>
                    <tr ng-repeat="participante in participantes" id="datos-'{{participante.username}}'">
                        <td>{{participante.user.username}}</td>
                        <td>{{participante.user.nombre}}</td>
                        <td>{{participante.user.apellidos}}</td>
                        <td>
                            <select class="form-control" ng-model="participante.user.permisos"
                                    ng-init="contacto.permisos = participante.user.permisos"
                                    ng-disabled="!admin || (participante.user.permisos=='Admin')"
                                    ng-change="cambiarPermisos(participante.user)">
                                <option value="Miembro">{{'MIEMBRO' | translate}}</option>
                                <option value="Moderador">{{'MODERADOR' | translate}}</option>
                                <option value="Admin" ng-show="false">{{'ADMIN' | translate}}</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-primary" type="button"
                                    ng-disabled="(!admin && participante.user.permisos!='Miembro')
                                    || (admin && participante.user.permisos=='Admin')"
                                    ng-click="eliminarUsuarioSeleccionado(participante.user)">
                                {{'ELIMINAR' | translate}}
                            </button>
                        </td>
                    </tr>
                </table>


            </div>
        </div>


        <div id="operaciones-peligrosas" ng-hide="!admin">
            <legend id="leyenda-info-sala">{{'ACCIONES_PELIGROSAS' | translate}}</legend>

            <button id="btn-eliminar-sala" class="btn btn-danger" type="button"
                    ng-click="eliminarSala()">{{'ELIMINAR_SALA' | translate}}
            </button>

        </div>

    </div>

</div>
</div>


</body>


</html>