<!DOCTYPE html>
<html ng-app="webApp">
<head>
    <meta charset="utf-8">

    <script language="JavaScript" type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script language="JavaScript" type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">

    <script src='/public/module.js'></script>

</head>
<body>

<% include partials/header %>

<div class="container">

Esta es la futura página personal de cada usuario. ¡BIEVENIDO!

</div>

</body>
</html>