<!DOCTYPE html>
<html ng-app="webApp">
<head>
    <title>{{'AJUSTES_CUENTA' | translate}}</title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <!-- Scripts y hojas de estilos compartidos -->
    <% include partials/shared-head %>

    <!-- Hojas de estilos y scripts -->
    <link rel="stylesheet" href="/public/stylesheets/profileSettings.css">

    <!-- Controladores-->
    <script src='/public/javascripts/controllers/langController.js'></script>
    <script src='/public/javascripts/controllers/ajustesCuentaController.js'></script>

</head>
<body ng-controller="ajustesCuentaController">

<!-- Cabecera -->
<% include partials/header %>

<div class="contenedor-inputs">

    <div class="seccion">
        <h4 class="Subhead-heading" style="color: #3A539B">Modificar datos de la cuenta</h4>
        <div class="div-input">
            <label>Nombre:</label>
            <input ng-value="usuario.nombre">
        </div>

        <div class="div-input">
            <label>Apellidos:</label>
            <input ng-value="usuario.apellidos">
        </div>

        <div class="div-input">
            <label>Correo:</label>
            <input ng-value="usuario.email">
        </div>
    </div>

    <div class="seccion">
        <h4 style="color: #3A539B">Modificar foto de perfil</h4>
        <div class="div-input">
            <label id="label-foto">{{'FOTO_PERFIL' | translate}}: <input type="file" id="foto-input"/></label>
            <img ng-show="!foto" class="foto" ng-src="{{usuario.foto}}">
            <div ng-show="foto" class="cropArea">
                <img-crop image="foto" result-image="fotoRecortada"></img-crop>
            </div>
        </div>
    </div>

    <div class="seccion">
        <h4 style="color: #3A539B">Modificar contraseña</h4>

        <div class="div-input">
            <label>Contraseña actual:</label>
            <input placeholder="Contraseña actual">
        </div>

        <div class="div-input">
            <label>Nueva Contraseña:</label>
            <input placeholder="Contraseña">
        </div>

        <div class="div-input">
            <label>Repetir Contraseña:</label>
            <input placeholder="Repetir contraseña">
        </div>
    </div>

    <button class="btn btn-info" type="button"
            ng-click="actualizar()">{{'ACTUALIZAR_DATOS' | translate}}
    </button>

</div>



<div class="contenedor-inputs">

<div class="seccion">
        <h4 style="color: #3A539B" translate="ACCIONES_PELIGROSAS"></h4>

        <button id="btn-eliminar-sala" class="btn btn-danger" type="button"
                ng-click="eliminarCuenta()">{{'ELIMINAR_CUENTA' | translate}}
        </button>
    </div>
</div>

</body>

</html>