html, body {
    height: 100%;
    width: 100%;
}

#enlaceHome {
    float: left;
    padding-left: 5px;
}

#nombreSala {
    margin: 15px;
    float: right;

}

.sideServiciosnav,
.sideAsistentesnav,
.sideContactonav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideServiciosnav,
.sideAsistentesnav {
    background-color: #111;
}

.sideContactonav {
    background-color: #2b60af;
}

.sideServiciosnav a,
.sideAsistentesnav a,
.sideContactonav a, .sideContactonav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s
}

.sideServiciosnav a:hover,
.sideAsistentesnav a:hover,
.sideContactonav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sideAsistentesnav .sideServiciosnav .sideContactonav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    display: block;
    height: 100vh;
    width: 65%;
    float: left;
    margin: 5px;
}

#navegacion {
    width: 10%;
    height: 90%;
    float: left;
    display: block;
    background-color: #f8f8f8;
    border: 3px solid transparent;
    min-width: 120px;
    margin-left: 5px;
}

#div-hide-navegacion {
    width: 10%;
    height: 3%;
    border: 3px solid transparent;
    margin-left: 5px;
}

.opcion-navegacion {
    font-size: 17px;
    cursor: pointer;
    display: block;
}

#esconder-navegacion {
    text-align: right;
}

#serviciosLabel,
#asistentesLabel,
#ContactoLabel {
    color: white;
    text-align: center;
}

#servicio1 {
    height: 50vh;
    width: 41%;
    border-size: 2px;
    border-style: solid;
    border-color: black;
    float: left;
    text-align: center;
}

#servicio2 {
    height: 50vh;
    width: 41%;
    border-size: 2px;
    border-style: solid;
    border-color: black;
    float: left;
    text-align: center;
}

#servicio3 {
    height: 50vh;
    width: 41%;
    border-size: 2px;
    border-style: solid;
    border-color: black;
    float: left;
    text-align: center;
}

#servicio4 {
    height: 50vh;
    width: 41%;
    border-size: 1px;
    border-style: solid;
    border-color: black;
    float: left;
    text-align: center;
}

.contenedorExterior {
    display: table;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.contenedorExterior .contenedorInterior {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.elemento {
    background: #ddd;
    width: 100px;
    height: 100px;
}

@media screen and (max-height: 450px) {
    .sideServiciosnav,
    .sideAsistentesnav,
    .sideContactonav {
        padding-top: 15px;
    }

    .sideServiciosnav a,
    .sideAsistentesnav a,
    .sideContactonav a {
        font-size: 16px;
    }
}

.conectado {
    animation: blink-animation 1.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
    color: #00FF00;
"
}

.desconectado {
    color: #e70016;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/* Módulos */

#contenedorGridStack {
    float: left;
    width: 85%;
    height: 90%;
}

.grid-stack {
    width: 100%;
    height: 100%;
}

.grid-stack-item {
    width: 100%;
    height: 100%;
}

.modulo {
    color: #2c3e50;
    text-align: center;
    height: 100%;
    width: 100%;
    border-style: solid;
    overflow: hidden;
    /* Debido al redimensionamiento del módulo videoChat, se dan circunstancias en las que el video
       puede sobresalir del módulo. Con esta propiedad a hidden ocultamos aquellas partes del video que sobresalgan */
}

.closeModule, .fullScreenModule {
    float: right;
}

.closeModule {
    margin-left: 5px;
    margin-right: 5px;
}

/* Módulo videoChat */

#localVideo, #remoteVideo1, #remoteVideo2, #remoteVideo3 {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.opcion-videochat {
    width: 60px;
    display: inline-block;
}

#opciones {
    margin-top: 1%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Módulo Presentaciones*/

#presentacion {
    height: 100%;
    width: 100%;
}

#presentacionDropzone {

}

/* Módulo chatTexto */

#chat {
    height: 100%;
    width: 100%;
}

#mensajes {
    height: 85%;
    width: 100%;
    background-color: rgb(245, 215, 110);
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 2%;
}

.mensaje {
    width: 100%;
    display: inline-block;
}

.contenido-mensaje-propio {
    float: right;
    width: 50%;
    display: inline-block;
    background-color: #1b91ff;
    border-radius: 12px;
}

.contenido-mensaje-remoto {
    float: left;
    width: 50%;
    display: inline-block;
    background-color: white;
    border-radius: 12px;
}

.contenido-mensaje-fichero-propio {
    float: right;
    width: 49%;
    display: inline-block;
    border-radius: 12px;
    margin-right: 1%;
}

.contenido-mensaje-fichero-remoto {
    float: left;
    width: 49%;
    display: inline-block;
    border-radius: 12px;
    margin-left: 1%;
}

#bottom-chat {
    height: 10%;
}

#texto-enviar {
    float: left;
    width: 74%;
    height: 100%;
    resize: none;
}

#boton-enviar {
    float: left;
    width: 13%;
    height: 100%;
}

#boton-adjuntar {
    float: left;
    width: 13%;
    height: 100%;
}

.foto-sala {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px;
    margin-right: 15px;
    float: right;
}

.servicio {
    cursor: pointer;
}

/* Módulo Dibujos */

#div-dibujo {
    width: 100%;
    height: 90%;
    margin-top: 5%;
}

.canvas-container, .upper-canvas, .canvas-container {
    width: 100% !important;
    height: 100% !important;
}

#area-dibujo {
    width: 100% !important;
    height: 100% !important;
}

/* Cambios bootstrap */

.navbar {
    margin-bottom: 0px;
    height: 5%;
}

.navbar-header {
    width: 100%;
}

.mover-modulo {
    height: 5%;
}



