.menu-lateral {
    width: 24%;
    padding: 10px 0px 25px 10px;
    margin-left: -40px;
    float: left;
    display: inline-block;
}

body {
    min-width: 700px;
}

.nav-header {
    margin-top: 15px;
}

#contenedor-listado-contactos {
    width: 35%;
    height: 80vh;
    float: left;
    margin: 0px 30px 0px 50px;
    background: #f2f2f2;
    display: inline-block;
}

#contenedor2-listado-contactos {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    display: inline-block;
}

#listado-contactos, #listado-salas {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

#contenedor-listado-salas {
    float: left;
    width: 35%;
    height: 80vh;
    background: #f2f2f2;
    display: inline-block;
}

#contenedor2-listado-salas {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    display: inline-block;
}

listado-salas {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.boton-listado {
    margin: 3px 0px;
    text-align: center;
}

.foto-perfil {
    width: 50px;
    height: 50px;
    margin-right: 2%;
    border-radius: 50%;
}

/* Dialogs */

/* Mostrar datos contacto */
.datos-contacto {
    width: 65%;
    display: inline-block;
}

.foto-contacto {
    width: 30%;
    float: left;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 2%;
}

.titulo {
    border-bottom: 1px solid black
}

/* Crear sala */
#username-crear-sala-label {
    display: inherit;
}

#username-crear-sala {
    width: 50%;
    float: left;
}

#add-miembros-div {
    margin-top: 30px;
}

#show-usuarios, #buscar-contactos-crear-sala, #datos-sala {
    margin-top: 5px;
}

.cropArea {
    overflow: hidden;
    height: 350px;
}

.titulo-crear-sala{
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* Solicitud contacto */

#mensaje-solicitud-contacto {
    resize: none;
    min-width: 100%;
    height: 150px;
}

.mensaje-solicitud {
    resize: none;
    width: 100%;
    height: 72px;
}

.solicitud-contacto {
    width: 100%;
    overflow: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: solid;
    border-width: 2px;
}

#datos-contacto-solicitud, #div-mensaje-solicitud, #botones-solicitud {
    float: left;
    display: block;
}

#datos-contacto-solicitud {
    width: 55%;
}

#div-mensaje-solicitud {
    width: 45%;
    height: 100%
}

#mensaje-solicitud {
    width: 100%;
}

#boton-aceptar-solicitud {
    margin-bottom: 5px;
    width: 100%;
}

#boton-ignorar-solicitud {
    width: 100%;
}

#username-solicitud {
    text-align: center;
    display: block;
    color: #00b3ee;

}

#nombre-apellidos-solicitud {
    text-align: center;
    display: block;
}

.angucomplete-row {
    height: 50px;
}

.foto-solicitud-contacto {
    float: left;
    border-radius: 50%;
}

.info-solicitud-contacto {
    width: 85%;
    overflow: auto;
    display: inline-block;
}

#botones-solicitud {
    width: 14%;
    float: right;
}

/*Solicitudes sala*/

.solicitud-sala {
    width: 100%;
    overflow: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: solid;
    border-width: 1px;
}

.foto-sala {
    border-radius: 50%;
}

.descripcion-sala {
    resize: none;
}

.datos-sala {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.botones-solicitud-sala {
    float: right;
    width: 50%;
    margin-top: 2%;
}

#boton-aceptar-solicitud-sala {
    margin-right: 20px;
    width: 90px;
}

#boton-ignorar-solicitud-sala {
    width: 90px;
}

/* Bloquear contacto */
#username-bloquear-contacto > .angucomplete-holder {
    width: 70%;
    float: left;
    margin-right: 2%;
}

#btn-bloquear {
    width: 25%;
}