.menu-lateral {
    width: 24%;
    padding: 10px 0px 25px 10px;
    margin-left: -40px;
    float: left;
    display: inline-block;
}

body {
    min-width: 700px;
}

.nav-header {
    margin-top: 15px;
}

#contenedor-listado-contactos {
    width: 35%;
    height: 80vh;
    float: left;
    margin: 0px 30px 0px 40px;
    background: #f2f2f2;
    display: inline-block;
}

#contenedor2-listado-contactos {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    display: inline-block;
}

#listado-contactos {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

#contenedor-listado-salas {
    float: left;
    width: 35%;
    height: 80vh;
    background: #f2f2f2;
    display: inline-block;
}

#contenedor2-listado-salas {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    display: inline-block;
}

listado-salas {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.boton-listado {
    margin: 3px 0px;
    text-align: center;
}

/* Dialogs */

/* Crear sala */
#username-crear-sala-label {
    display: inherit;
}

#username-crear-sala {
    width: 50%;
    float: left;
}

#add-miembros-div {
    margin-top: 30px;
}

#show-usuarios, #buscar-contactos-crear-sala, #datos-sala {
    margin-top: 20px;
}

/* Solicitud contacto */

#mensaje-solicitud-contacto {
    resize: none;
    min-width: 100%;
    height: 150px;
}

#username-solicitud-contacto_value{
    width: 100%;
}

.mensaje-solicitud{
    resize:none;
}

.solicitud-contacto{
    width: 100%;
    overflow:auto;
    padding: 10px;
    margin-bottom: 10px;
    border: solid;
    border-width: 2px;
}

#datos-contacto-solicitud, #div-mensaje-solicitud, #botones-solicitud{
    float: left;
    display: block;
}

#datos-contacto-solicitud{
    width: 35%;
}

#div-mensaje-solicitud{
    width: 40%;
    height: 100%;
    margin-left: 10px;
}

#mensaje-solicitud{
    width: 100%;
}


#botones-solicitud{
    width: 20%;
    text-align: center;
    margin-left: 10px;
}

#boton-aceptar-solicitud{
    margin-bottom: 5px;
    width: 70%;
}

#boton-ignorar-solicitud{
    width: 70%;
}

#username-solicitud{
    text-align: center;
    display: block;
}

#nombre-apellidos-solicitud{
    text-align: center;
    display: block;
}

/*Solicitudes sala*/

.solicitud-sala{
    width: 100%;
    overflow:auto;
    padding: 10px;
    margin-bottom: 10px;
    border: solid;
    border-width: 2px;
}

.descripcion-sala{
    resize:none;
}