<div class="modal" id="bloquearUsuario" ng-controller="bloquearContactoController" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{'BLOQUEAR_CONTACTO' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username-solicitud-contacto">{{'USERNAME' | translate}}</label>
                    <div>
                        <angucomplete id="username-bloquear-contacto"
                                      placeholder="{{'USERNAME' | translate}}"
                                      pause="100"
                                      selectedobject="usuarioSeleccionado"
                                      localdata="contactos"
                                      titlefield="username"
                                      searchfields="username"
                                      imagefield="foto"
                                      minlength="2"
                                      inputclass="form-control"
                        />
                    </div>
                    <button id="btn-bloquear" class="btn btn-primary" ng-click="bloquearContacto()">
                        {{'BLOQUEAR_CONTACTO' | translate}}
                    </button>

                </div>

                <div id="contactos-bloqueados-div" panel panel-default ng-show="contactosBloqueados.length > 0">
                    <h4>{{'USUARIOS_BLOQUEADOS' | translate}}</h4>
                    <div id="show-usuarios-bloqueados">
                        <table class="table table-bordered">
                            <tr>
                                <th>{{'USERNAME' | translate}}</th>
                                <th>{{'NOMBRE' | translate}}</th>
                                <th>{{'APELLIDOS' | translate}}</th>
                                <th>{{'DESBLOQUEAR' | translate}}</th>
                            </tr>
                            <tr ng-repeat="contacto in contactosBloqueados" id="contacto-bloqueado-" +contacto.username>
                                <td>{{contacto.username}}</td>
                                <td>{{contacto.nombre}}</td>
                                <td>{{contacto.apellidos}}</td>
                                <td>
                                    <button class="btn btn-primary"
                                            ng-click="desbloquearContacto(contacto.username)">{{'DESBLOQUEAR' |
                                        translate}}
                                    </button>
                                </td>
                            </tr>


                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="cerrarPantallaBloquear()">
                    {{'CERRAR' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>