<div class="modal" ng-controller="salaController" id="createRoom" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{'CREAR_SALA' | translate}}</h4>
            </div>

            <form id="sala-form" name="salaForm" autocomplete="off" >

            <div class="modal-body">
                <div class="form-group">

                        <h4>{{'DATOS_SALA' | translate}}</h4>
                        <div id="datos-sala">
                            <label for="nombre">{{'NOMBRE' | translate}}</label>
                            <input class="form-control" id="nombre-crear-sala" ng-model="sala.nombre"
                                   placeholder="{{'NOMBRE_SALA' | translate}}" type="text">
                            <label for="descripcion-crear-sala">{{'DESCRIPCION_OPCIONAL' | translate}}</label>
                            <input class="form-control" id="descripcion-crear-sala" ng-model="sala.descripcion"
                                   placeholder="{{'DESCRIPCION' | translate}}" type="text">

                            <label for="checkbox-crear-sala">{{'ADMIN_ABRIR_CERRAR_SERVICIOS' | translate}}</label>
                            <input id="checkbox-crear-sala" ng-model="sala.modificarSoloAdmin" type="checkbox">
                        </div>

                        <div id="add-miembros-div" panel panel-default>
                            <h4>{{'ADD_MIEMBROS' | translate}}</h4>
                            <div id="buscar-contactos-crear-sala">
                                <label for="username-crear-sala" id="username-crear-sala-label">{{'USERNAME' | translate}}</label>

                                <div>

                                <angucomplete id="username-crear-sala"
                                              placeholder="{{'USERNAME' | translate}}"
                                              pause="100"
                                              selectedobject="usuarioSeleccionado"
                                              localdata="contactos"
                                              titlefield="username"
                                              searchfields="username"
                                              imagefield="foto"
                                              minlength="2"
                                              inputclass="form-control"
                                />


                                </div>

                                <button class="btn btn-primary" type="button"
                                        ng-click="addContactoTabla()">{{'ADD_CONTACTO' | translate}}</button>


                            </div>


                            <div id="show-usuarios" ng-show="contactosSeleccionados.length > 0">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>{{'USERNAME' | translate}}</th>
                                        <th>{{'NOMBRE' | translate}}</th>
                                        <th>{{'APELLIDOS' | translate}}</th>
                                        <th>{{'PERMISOS' | translate}}</th>
                                        <th>{{'ELIMINAR' | translate}}</th>
                                    </tr>

                                    <tr ng-repeat="contacto in contactosSeleccionados">
                                        <td>{{contacto.username}}</td>
                                        <td>{{contacto.nombre}}</td>
                                        <td>{{contacto.apellidos}}</td>
                                        <td>
                                            <select ng-model="contacto.permisos" ng-init="contacto.permisos = 'Miembro'">
                                                <option value="Miembro">{{'MIEMBRO' | translate}}</option>
                                                <option value="Moderador">{{'MODERADOR' | translate}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" type="button"
                                                    ng-click="eliminarSeleccionado(contacto.username)">{{'ELIMINAR' | translate}}</button>
                                        </td>
                                    </tr>


                                </table>
                            </div>
                        </div>

                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="crearSala(sala)">{{'CREAR_SALA' | translate}}</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">{{'CERRAR' | translate}}</button>
            </div>

            </form>

        </div>
    </div>
</div>