<div class="modal" id="createRoom" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Crear sala</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" id="nombre" placeholder="Nombre sala" type="text">
                    <label for="descripcion">Descripci칩n (Opcional)</label>
                    <input class="form-control" id="descripcion" placeholder="Descripci칩n" type="text">
                    <div id="addMiembros" panel panel-default>
                        <h5>A침adir miembros</h5>
                        <div id="buscarUsuarios">
                            <label for="username" id="username-crear-sala-label">Nombre de usuario</label>
                            <input class="form-control" id="username-crear-sala" placeholder="Nombre de usuario" type="text">
                            <button class="btn btn-primary" id="dialogCrearSalaAdd">A침adir</button>
                        </div>
                        <div id="showUsuarios">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Nombre usuario</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Eliminar</th>
                                </tr>
                                <tr>
                                    <td>Ejemploaidfbapubfd</td>
                                    <td>Ejemploadfadsf</td>
                                    <td>Ejemploafdfads Ejemplodafafd</td>
                                    <td><button class="btn btn-primary">Eliminar</button></td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Crear sala</button>
                <button class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>