<div ng-controller="solicitudContactoController" class="modal" id="addUsuario" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Añadir Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username-solicitud-contacto">Nombre de usuario</label>

                    <angucomplete id ="username-solicitud-contacto"
                    placeholder="Nombre de usuario"
                    pause="100"
                    selectedobject="usuarioSeleccionado"
                    localdata="usernames"
                    titlefield="username"
                    searchfields="username"
                    minlength="3"
                    inputclass="form-control"/>

                </div>

                <textarea id="mensaje-solicitud-contacto" placeholder="Mensaje enviado en la solicitud"></textarea>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Mandar solicitud de contacto</button>
                <button class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>