<div ng-controller="salaController" class="modal" id="solicitudes-salas" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Solicitudes de salas</h4>
            </div>
            <div class="modal-body">

                <div id="solicitud-de-{{sala.idSala}}" class="solicitud-sala" ng-repeat="sala in solicitudesSala">

                    <div id="datos-sala-solicitud">
                        <label id="username-sala">{{sala.nombre}}</label>
                        <div id="nombre-apellidos-sala">
               <!--             <label id="nombre-sala">{{solicitud.contacto.nombre}}</label>
                            <label id="apellidos-sala">{{solicitud.contacto.apellidos}}</label>-->
                        </div>
                    </div>

                    <div id="div-mensaje-solicitud">
                        <textarea class="descripcion-sala" ng-show="!sala.descripcion" disabled="true"><%=lang.sinMensaje%></textarea>
                        <textarea class="descripcion-sala" ng-show="sala.descripcion" disabled="true">{{sala.descripcion}}</textarea>
                    </div>

                    <div id="botones-solicitud">
                        <button id="boton-aceptar-solicitud-sala" class="btn btn-primary"
                                ng-click="aceptarSolicitud(sala.idSala)">Aceptar</button>

                        <button id="boton-ignorar-solicitud-sala" class="btn btn-primary"
                                ng-click="ignorarSolicitud(sala.idSala)">Ignorar</button>

                    </div>

                </div>

                <div ng-show="solicitudesSala.length == 0">
                    <h4>No tienes ninguna solicitud pendiente</h4>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" ng-click="cerrarPantallaSolicitudes()">Cerrar</button>
            </div>
        </div>
    </div>
</div>