<div ng-controller="salaController" class="modal" id="solicitudes-salas" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{'SOLICITUDES_SALAS' | translate}}</h4>
            </div>
            <div class="modal-body">


                <div ng-show="solicitudesSala.length > 0">
                    <h5 translate="EXPLICACION_SOLICITUDES_SALA"></h5>
                </div>


                <div id="solicitud-de-{{sala.idSala}}" class="solicitud-sala" ng-repeat="sala in solicitudesSala">

                    <div class="datos-sala">
                        <img class="foto-sala" width="60px" height="60px" ngf-src="sala.foto" alt="Foto sala"/>
                        <label id="nombre-sala">{{sala.nombre}}</label>
                    </div>

                    <div class="botones-solicitud-sala">
                        <button id="boton-aceptar-solicitud-sala" class="btn btn-primary"
                                ng-click="aceptarSolicitud(sala.idSala)">{{'ACEPTAR' | translate}}
                        </button>

                        <button id="boton-ignorar-solicitud-sala" class="btn btn-default"
                                ng-click="ignorarSolicitud(sala.idSala)">{{'IGNORAR' | translate}}
                        </button>

                    </div>

                </div>

                <div ng-show="solicitudesSala.length == 0">
                    <h4 translate="NO_SOLICITUDES"></h4>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" ng-click="cerrarPantallaSolicitudes()">{{'CERRAR' |
                    translate}}
                </button>
            </div>
        </div>
    </div>
</div>