<div id="chatTexto" ng-controller="chatTextoController" class="modulo">
    <a ng-click="eliminarModulo('chatTexto');" class="closeModule">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    <div class="grid-stack-item-content">
        <div id="chat">
            <div id="mensajes">
            <span ng-repeat="mensaje in mensajes">
                <div class="mensaje" ng-show="usernameUsuario != mensaje.username && mensaje.tipo == 'texto'">
                    <div class="contenido-mensaje-remoto">
                        <div class="usuario-envia" align="left" style="color:#1c94c4; padding-left: 5%">
                            {{mensaje.username}}
                        </div>
                        {{mensaje.mensaje}}
                    </div>
                </div>

                   <div class="mensaje"
                        ng-show="usernameUsuario != mensaje.username && mensaje.tipo == 'foto'">
                        <div class="contenido-mensaje-fichero-remoto">
                       <div style="display: flex">
                            <div style="color:#1c94c4; padding-left: 5%;background-color: white; border-radius: 12px;display: inline-block; float: left; padding-right: 5%;">
                                {{mensaje.username}}
                            </div>
                        </div>

                        <a ng-href="{{mensaje.contenido}}" download="{{mensaje.fichero}}">
                           <img style="width: 100%;"
                                class="contenido-mensaje-fichero-remoto"
                                ng-src="{{mensaje.contenido}}"
                                height=100
                                width=100/>
                        </a>
                    </div>
                </div>

                    <div class="mensaje"
                         ng-show="usernameUsuario != mensaje.username && mensaje.tipo == 'archivo'">
                    <div class="contenido-mensaje-fichero-remoto">

                        <div style="display: flex">
                            <div style="color:#1c94c4; padding-left: 5%;background-color: white; border-radius: 12px;display: inline-block; float: left; padding-right: 5%;">
                                {{mensaje.username}}
                            </div>
                        </div>

                        <img src="/public/fotos/document.png" height=50s width=100/>
                        <a ng-href="{{mensaje.contenido}}" download="{{mensaje.fichero}}">{{mensaje.fichero}}</a>
                    </div>
                </div>


                <div class="mensaje" ng-show="usernameUsuario == mensaje.username && mensaje.tipo == 'texto'">
                    <div class="contenido-mensaje-propio">
                        {{mensaje.mensaje}}
                    </div>
                </div>

                <div class="mensaje"
                     ng-show="usernameUsuario == mensaje.username && mensaje.tipo == 'foto'">
                <a ng-href="{{mensaje.contenido}}" download="{{mensaje.fichero}}"><img
                            class="contenido-mensaje-fichero-propio" ng-src="{{mensaje.contenido}}" height=100
                            width=100/></a>
                </div>

                <div class="mensaje"
                     ng-show="usernameUsuario == mensaje.username && mensaje.tipo == 'archivo'">
                    <div class="contenido-mensaje-fichero-propio">
                        <img src="/public/fotos/document.png" height=50 width=100/>
                        <a ng-href="{{mensaje.contenido}}" download="{{mensaje.fichero}}">{{mensaje.fichero}}</a>
                    </div>
                </div>
            </span>


                <div style="width: 100%;
    display: inline-block;" id="fin-mensajes"></div>

            </div>

            <div id="bottom-chat">
                <button type="file" ngf-select="uploadFiles($file, $invalidFiles)" ngf-max-size="10MB"
                        id="boton-adjuntar">
                    <span class="glyphicon glyphicon-paperclip"></span></button>
                <form ng-submit="sendMensaje(mensaje)">
                    <textarea id="texto-enviar" type="text" ng-model="mensaje"
                              ng-keydown="enviarMensajeTeclado($event,mensaje)"/>
                    <button type="submit" id="boton-enviar"><span class="glyphicon glyphicon-send"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>