<div ng-controller="videoChatController" id="chatVideo">
    <div class="grid-stack-item">
        <div class="grid-stack-item-content">

            <a ng-click="removeModule('chatVideo')" class="closeModule">
                <span class="glyphicon glyphicon-remove"></span>
            </a>

            <a class="fullScreenModule" data-bind="">
                <span class="glyphicon glyphicon-fullscreen"></span></a>

            <div>
                <input type='checkbox' id='muteVideoconferenceCheckbox'> Silenciar </input>
            </div>

            <video style="width:50%; height:50%; float:left;" id="localVideo" autoplay></video>
            <video style="width:50%; height:50%; float:left;" id="remoteVideo1" autoplay></video>
            <video style="width:50%; height:50%; float:left;" id="remoteVideo2" autoplay></video>
            <video style="width:50%; height:50%; float:left;" id="remoteVideo3" autoplay></video>

        </div>
    </div>
</div>

