<div ng-controller="videoChatController" id="chatVideo">
    <div class="grid-stack-item">
        <div class="grid-stack-item-content">

            <a ng-click="eliminarModulo('chatVideo'); cerrarModulo();" class="closeModule">
                <span class="glyphicon glyphicon-remove"></span>
            </a>

            <div id="opciones">
                <div class="opcion-videochat">
                    <span ng-show="!muteMicrophone"><i class="fa fa-microphone"></i></span>
                    <span ng-show="muteMicrophone"><i class="fa fa-microphone-slash"></i></span>
                <label class="switch">
                    <input ng-click="setMutedMicrophone()" id="opcion-microfono" ng-model="muteMicrophone"
                           type="checkbox" id='muteVideoconferenceCheckbox'/>
                    <div class="slider round"></div>
                </label>
                </div>
                <div class="opcion-videochat">
                    <i ng-show="!mute" class="fa fa-volume-up"></i>
                    <i ng-show="mute" class="fa fa-volume-off"></i>

                    <label class="switch">
                        <input ng-click="setMuted()" ng-model="mute" type="checkbox" id='muteVideoconferenceCheckbox'/>
                        <div class="slider round"></div>
                    </label>
                </div>

                <div class="opcion-videochat">
                    <i ng-show="!video" class="fa fa-eye"></i>
                    <i ng-show="video" class="fa fa-eye-slash"></i>

                    <label class="switch">
                        <input ng-click="stopVideo()" ng-model="video" type="checkbox" id='stopVideo'/>
                        <div class="slider round"></div>
                    </label>
                </div>

            </div>

            <video style="width:50%; height:50%; float:left;" id="localVideo" autoplay></video>
            <video style="width:50%; height:50%; float:left;" id="remoteVideo1" autoplay></video>
            <video style="width:50%; height:50%; float:left;" id="remoteVideo2" autoplay></video>
            <video style="width:50%; height:50%; float:left;" id="remoteVideo3" autoplay></video>

        </div>
    </div>
</div>

