<div id="dibujo" ng-controller="dibujosController" class="modulo">


    <div>

        <div class="grid-stack-item-content mover-modulo">
            <div>
                <i class="fa fa-hand-paper-o"></i>
            </div>
        </div>

        <a ng-click="eliminarModulo('dibujo');" class="closeModule">
            <span class="glyphicon glyphicon-remove"></span>
        </a>


    </div>


    <div id="div-dibujo">


        <div id="botonera">

            <button ng-click="addCirculo()">
                <icon class="fa fa-circle"></icon>
            </button>

            <button ng-click="addRectangulo()">
                <icon class="fa fa-stop"></icon>
            </button>

            <button ng-click="addTriangulo()">
                <icon class="fa fa-caret-up"></icon>
            </button>

            <button ng-click="dibujar()">
                Lápiz
            </button>

            <button ng-click="seleccionar()">
                Selección
            </button>

            <button ng-click="borrar()">
                Borrar todo
            </button>

        </div>




        <canvas id="area-dibujo"></canvas>

    </div>
</div>