<div id="dibujo">
    <div class="grid-stack-item-content">
        <button>
            Circulo
        </button>

        <button>
            Cuadrado
        </button>

        <button>
            Triangulo
        </button>


        <button>
            Lápiz
        </button>

        <button>
            Selección
        </button>

        <button>
            Borrar todo
        </button>

    </div>
</div>