<div id="dibujo">
    <div class="grid-stack-item-content">

        <a ng-click="eliminarModulo('dibujo');" class="closeModule">
            <span class="glyphicon glyphicon-remove"></span>
        </a>


        <button>
            Circulo
        </button>

        <button>
            Cuadrado
        </button>

        <button>
            Triangulo
        </button>


        <button>
            Lápiz
        </button>

        <button>
            Selección
        </button>

        <button>
            Borrar todo
        </button>

    </div>
</div>