<div>
    <button>
        Circulo
    </button>

    <button>
        Cuadrado
    </button>

    <button>
        Triangulo
    </button>


    <button>
        Lápiz
    </button>

    <button>
        Selección
    </button>

    <button>
        Borrar todo
    </button>


    <canvas id="canvas">


    </canvas>

</div>

