<div id="presentaciones" ng-controller="presentacionController" class="modulo">
    <div>
        <div class="grid-stack-item-content mover-modulo-div">
            <div>
                <i class="fa fa-hand-paper-o mover-modulo"></i>

                <a ng-click="eliminarModulo('presentaciones');" class="closeModule">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>

                <div><button type="file" ngf-select="uploadFiles($file, $invalidFiles)" ngf-max-size="5MB"
                             class="btn btn-default btn-sm" translate="CAMBIAR_PRESENTACION"></button></div>
            </div>
        </div>
    </div>
    <div id="presentacion">
        <iframe id="presentacion-frame" allowfullscreen="true"/>
    </div>
</div>
