<div id="presentaciones" ng-controller="presentacionController">
    <div class="grid-stack-item-content">

        <a ng-click="eliminarModulo('presentaciones');" class="closeModule">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <a class="fullScreenModule" data-bind="">
            <span class="glyphicon glyphicon-fullscreen"></span></a>

        <!-- <div id="presentacionDropzone" options="dzOptions" methods="dzMethods" class="dropzone" callbacks="dzCallbacks" ng-dropzone></div>-->

        <iframe id="presentacion" src="/reveal.js/ejemplo.html" allowfullscreen="true"/>

    </div>
</div>
