<div>
    <div class="grid-stack-item">
        <div class="grid-stack-item-content">
            <button class="closeModule">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="fullScreenModule" data-bind="">
                <span class="glyphicon glyphicon-fullscreen"></span></button>

            <div id="presentacion">

                AQUI IRÁ LA PRESENTACIÓN

            </div>
        </div>


    </div>
</div>
</div>
