<div id="videoCompartido" ng-controller="videoCompartidoController" class="modulo">

    <div>
        <div class="grid-stack-item-content mover-modulo-div">

            <a ng-click="eliminarModulo('videoCompartido');" class="closeModule">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <i class="fa fa-hand-paper-o mover-modulo"></i>

            <div>
                <input class="input-url" placeholder="{{'URL_VIDEO' | translate}}" ng-model="urlCambiar">
                <button ng-click="cambiarVideo()">Cambiar</button>
            </div>

        </div>

    </div>

    <div id="contenido-video-compartido">
        <videogular vg-theme="themeUrl" vg-player-ready="onPlayerReady($API)">
            <vg-media id="video-compartido-media" vg-src="url" vg-youtube="rel=1;showinfo=1"></vg-media>
            <vg-controls vg-autohide="true" vg-autohide-time="1000">
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
        </videogular>


    </div>
</div>
